<div class="tw-space-y-[6px]">
    <h4>Ngày Cập Nhật : {{rank.created_at}}</h4>
    <p><strong>Mã:</strong> {{rank.id}}</p>
    <p><strong>Xếp Hạng:</strong> <br>
        <strong class="tw-ml-[30px]"> + WoS: </strong>{{rank.wos ? rank.wos : 'Không có'}} <br>
        <strong class="tw-ml-[30px]"> + Scopus: </strong>{{rank.quartile ? rank.quartile : 'Không có'}} <br>
        <strong class="tw-ml-[30px]"> + ABS: </strong>{{rank.abs ? rank.abs : 'Không có'}}<br>
        <strong class="tw-ml-[30px]"> + ABCD: </strong>{{rank.abcd ? rank.abcd : 'Không có'}}<br>
        <strong class="tw-ml-[30px]"> + ACI: </strong>{{rank.aci ? rank.aci : 'Không có'}}

    </p>
    <p><strong>Người cập nhật:</strong> <br>
        <strong class="tw-ml-[30px]"> + Mã: </strong>{{rank.user?.username}} <br>
        <strong class="tw-ml-[30px]"> + Tên: </strong>{{rank.user?.name}} <br>
        <strong class="tw-ml-[30px]"> + Email: </strong>{{rank.user?.email}}
    </p>

    <p><strong>Ghi chú:</strong> {{rank.ghichu ? rank.ghichu : 'Không có ghi chú nào'}}</p>

    <div class="tw-my-[14px]">
        <nz-divider ></nz-divider>
    </div>
</div>
