<nz-descriptions [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="horizontal" class="tw-mt-[1rem]">
    <nz-descriptions-item nzTitle="Mã Số">{{detai.maso}}</nz-descriptions-item>

    <nz-descriptions-item nzTitle="Trạng Thái">
        <span class="primary">{{detai.trangthai}}</span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Đề Tài Ngoài Trường?">{{detai.ngoaitruong ===
    true
        ? 'Có' : 'Không'}}</nz-descriptions-item>
    <ng-container *ngIf="detai.ngoaitruong === true">
        <nz-descriptions-item nzTitle="Đề Tài Ngoài Trường Do Trường Chủ Trì ?">{{detai.truongchutri ===
        true
            ? 'Có' : 'Không'}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Tổ Chức Chủ Quản">
            <strong> + Mã:
            </strong>{{detai.tochucchuquan?.matochuc ?? 'Không Có'}} <br>
            <strong> + Tên:
            </strong>{{detai.tochucchuquan?.tentochuc ?? 'Không Có'}} <br>
            <strong> + Điện Thoại:
            </strong>{{detai.tochucchuquan?.dienthoai ?? 'Không Có'}}<br>
            <strong> + Website:
            </strong>{{detai.tochucchuquan?.website ?? 'Không Có'}}
        </nz-descriptions-item>
    </ng-container>
    <ng-container *ngIf="detai.ngoaitruong === false">
        <nz-descriptions-item nzTitle="Loại Đề Tài">
            <strong > + Mã:
            </strong>{{detai.loaidetai?.maloai ?? 'Không Có'}} <br>
            <strong > + Tên:
            </strong>{{detai.loaidetai?.tenloai ?? 'Không Có'}} <br>
        </nz-descriptions-item>
    </ng-container>
    <nz-descriptions-item nzTitle="Đề Tài Hợp Tác ?">{{detai.detaihoptac ===
    true
        ? 'Có' : 'Không'}}</nz-descriptions-item>
    <ng-container *ngIf="detai.detaihoptac === true">
        <nz-descriptions-item nzTitle="Tổ Chức Hợp Tác">
            <strong > + Mã:
            </strong>{{detai.tochuchoptac?.matochuc ?? 'Không Có'}} <br>
            <strong > + Tên:
            </strong>{{detai.tochuchoptac?.tentochuc ?? 'Không Có'}} <br>
            <strong > + Điện Thoại:
            </strong>{{detai.tochuchoptac?.dienthoai ?? 'Không Có'}}<br>
            <strong > + Website:
            </strong>{{detai.tochuchoptac?.website ?? 'Không Có'}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Tỷ Lệ Kinh Phí Hợp Tác">
            {{detai.tylekinhphidonvihoptac}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Cấp Đề Tài">
            {{detai.capdetai}}
        </nz-descriptions-item>
    </ng-container>
</nz-descriptions>