/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --primary: #76c5f0;
    --text-primary:#105481;
    --color-border:#f0f0f0;
    --error:#b91c1c;
    --success:#22c55e;
}


.primary{
    color: var(--primary)
}

.text-primary{
    color: var(--text-primary)
}

.error{
    color: var(--error)
}

.success{
    color:var(--success)
}