<div>
    <nz-modal
            [nzVisible]="isOpenForm"
            nzTitle="Tính Điểm Tạp Chí"
            nzOkText="Gửi"
            (nzOnOk)="tinhDiemTapChi()"
            (nzOnCancel)="openRecognizeForm()"
            [nzOkLoading]="isCapNhatTinhDiem"
    >
        <ng-container *nzModalContent>
            <form nzLayout="vertical" nz-form class="tw-space-y-[16px]" [formGroup]="formTinhDiem">
                <nz-form-item>
                    <h3 class="tw-text-center"><span class="error">*</span> Ngành Tính Điểm</h3>
                    <nz-form-control nzHasFeedback [nzErrorTip]="id_nganhtinhdiem">
                        <nz-select
                                (ngModelChange)="onSelectChange($event)"
                                nzAllowClear
                                nzPlaceHolder="Ngành Tính Điểm"
                                formControlName="id_nganhtinhdiem"
                                [nzLoading]="isNganhTinhDiemLoading"
                                [nzDisabled]="isNganhTinhDiemLoading"
                        >
                            <nz-option *ngFor="let data of nganhTinhDiems" [nzValue]="data.id" [nzLabel]="data.tennganhtinhdiem ? data.tennganhtinhdiem : 'Không có tên'"></nz-option>
                        </nz-select>
                        <ng-template #id_nganhtinhdiem let-control>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <h3 class="tw-text-center"><span class="error">*</span> Chuyên Ngành Tính Điểm</h3>
                    <nz-form-control nzHasFeedback [nzErrorTip]="id_chuyennganhtinhdiem">
                        <nz-select
                                nzAllowClear
                                nzPlaceHolder="Chuyên Ngành Tính Điểm"
                                formControlName="id_chuyennganhtinhdiem"
                                [nzLoading]="isChuyenNganhTinhDiemLoading"
                                [nzDisabled]="isChuyenNganhTinhDiemLoading"
                        >
                            <nz-option *ngFor="let data of chuyenNganhTinhDiems" [nzValue]="data.id" [nzLabel]="data.tenchuyennganh ? data.tenchuyennganh : 'Không có tên'"></nz-option>
                        </nz-select>
                        <ng-template #id_chuyennganhtinhdiem let-control>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <h3 class="tw-text-center">Điểm</h3>
                    <nz-form-control nzHasFeedback [nzErrorTip]="diem">
                        <input nz-input placeholder="Điểm"  type="text" formControlName="diem"/>
                        <ng-template #diem let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <h3 class="tw-text-center">Năm Tính Điểm</h3>
                    <nz-form-control nzHasFeedback [nzErrorTip]="namtinhdiem">
                        <input nz-input placeholder="Năm Tính Điểm"  type="text" formControlName="namtinhdiem"/>
                        <ng-template #namtinhdiem let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <h3 class="tw-text-center">Ghi Chú</h3>
                    <nz-form-control nzHasFeedback [nzErrorTip]="ghichu">
            <textarea
                    nz-input
                    placeholder="Ghi chú"
                    formControlName="ghichu"
                    [nzAutosize]="{ minRows: 3, maxRows: 6 }"
            ></textarea>
                        <ng-template #ghichu let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 tw-text-red-600">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>

<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" [routerLink]="['/admin/tap-chi',this.id]">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">LỊCH SỬ TÍNH ĐIỂM TẠP CHÍ</h1>
    <div class="tw-mt-[15] tw-space-y-[6px]">
        <div class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-items-center tw-space-y-[4px] lg:tw-space-x-[8px]">
            <button nz-button nzType="primary" (click)="openRecognizeForm()">
                <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                Cập Nhật Lịch Sử Mới
            </button>
        </div>
    </div>
    <div class="tw-space-y-[10px]">
        <h2 class="primary tw-text-3xl tw-text-center">LỊCH SỬ</h2>
        <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
            <app-loading></app-loading>
        </ng-template>
        <ng-template #loaded>
            <ng-container *ngIf="tinhDiemTapChis.length > 0">
                <div>
                    <app-score-card *ngFor="let card of tinhDiemTapChis" [score]="card"></app-score-card>
                    <div class="tw-my-[14px]">
                        <nz-divider ></nz-divider>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="tinhDiemTapChis.length < 1">
                <div class="tw-text-center tw-mt-[7rem]">
                    <h1 class="text-primary tw-text-5xl">LỊCH SỬ TRỐNG</h1>
                </div>
            </ng-container>
            <ng-container *ngIf="tinhDiemTapChis.length > 0">
                <div class="tw-text-right">
                    <nz-pagination [nzPageIndex]="this.pagingService.pageIndex$ | async" [nzTotal]="totalPage * 10"></nz-pagination>
                </div>
            </ng-container>

        </ng-template>

    </div>
</div>

