<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" [routerLink]="['/bai-bao']">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">TẠO MỚI BÀI BÁO</h1>
    <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
        <app-loading></app-loading>
    </ng-template>
    <ng-template #loaded>
        <div class="tw-mt-[30px] tw-space-y-[6px]">
            <form nz-form nzLayout="vertical" class="tw-space-y-[16px]" [formGroup]="createForm">
                <h2 class="text-primary tw-text-4xl">Thông Tin Sản Phẩm</h2>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Tên Sản Phẩm</h3>
                    <nz-form-control [nzErrorTip]="tensanpham" nzHasFeedback>
                        <input nz-input placeholder="Tên Sản Phẩm"  type="text" formControlName="tensanpham"/>
                        <ng-template #tensanpham let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Tổng Số Tác Giả</h3>
                    <nz-form-control [nzErrorTip]="tongsotacgia" nzHasFeedback>
                        <input nz-input min="0" placeholder="Tổng Số Tác Giả"  type="number" formControlName="tongsotacgia"/>
                        <ng-template #tongsotacgia let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Số Lần Quy Đổi</h3>
                    <nz-form-control [nzErrorTip]="solandaquydoi" nzHasFeedback>
                        <input nz-input min="0" placeholder="Số Lần Quy Đổi"  type="number" formControlName="solandaquydoi"/>
                        <ng-template #solandaquydoi let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Điểm Quy Đổi</h3>
                    <nz-form-control [nzErrorTip]="diemquydoi" nzHasFeedback>
                        <input nz-input placeholder="Điểm Quy Đổi"  type="text" formControlName="diemquydoi"/>
                        <ng-template #diemquydoi let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Giờ Quy Đổi</h3>
                    <nz-form-control [nzErrorTip]="gioquydoi" nzHasFeedback>
                        <input nz-input placeholder="Giờ Quy Đổi"  type="text" formControlName="gioquydoi"/>
                        <ng-template #gioquydoi let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Thông Tin Chi Tiết</h3>
                    <nz-form-control [nzErrorTip]="thongtinchitiet" nzHasFeedback>
                        <input nz-input placeholder="Thông Tin Chi Tiết"  type="text" formControlName="thongtinchitiet"/>
                        <ng-template #thongtinchitiet let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Cấp Sản Phẩm</h3>
                    <nz-form-control [nzErrorTip]="capsanpham" nzHasFeedback>
                        <input nz-input placeholder="Cấp Sản Phẩm"  type="text" formControlName="capsanpham"/>
                        <ng-template #capsanpham let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Thời Điểm Công Bố Hoàn Thành</h3>
                    <nz-form-control [nzErrorTip]="thoidiemcongbohoanthanh" nzHasFeedback>
                        <nz-date-picker nzFormat="yyyy/MM/dd" class="tw-w-full" nzPlaceHolder="Thời Điểm Công Bố Hoàn Thành" formControlName="thoidiemcongbohoanthanh"></nz-date-picker>
                        <ng-template #thoidiemcongbohoanthanh let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Có Sử Dụng Email Trường ?</h3>
                    <nz-form-control>
                        <nz-select
                                formControlName="cosudungemailtruong"
                                nzShowSearch nzPlaceHolder="Có Sử Dụng Email Trường ?"
                        >
                            <nz-option nzLabel="Có" [nzValue]=true></nz-option>
                            <nz-option nzLabel="Không" [nzValue]=false></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Có Sử Dụng Email Đơn Vị Khác ?</h3>
                    <nz-form-control>
                        <nz-select
                                formControlName="cosudungemaildonvikhac"
                                nzShowSearch nzPlaceHolder="Có Sử Dụng Email Đơn Vị Khác ?"
                        >
                            <nz-option nzLabel="Có" [nzValue]=true></nz-option>
                            <nz-option nzLabel="Không" [nzValue]=false></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Có Sử Dụng Thông Tin Trường ?</h3>
                    <nz-form-control>
                        <nz-select
                                formControlName="cothongtintruong"
                                nzShowSearch nzPlaceHolder="Có Sử Dụng Email Đơn Vị Khác ?"
                        >
                            <nz-option nzLabel="Có" [nzValue]=true></nz-option>
                            <nz-option nzLabel="Không" [nzValue]=false></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Có Sử Dụng Thông Tin Đơn Vị Khác ?</h3>
                    <nz-form-control>
                        <nz-select
                                formControlName="cothongtindonvikhac"
                                nzShowSearch nzPlaceHolder="Có Sử Dụng Thông Tin Đơn Vị Khác ?"
                        >
                            <nz-option nzLabel="Có" [nzValue]=true></nz-option>
                            <nz-option nzLabel="Không" [nzValue]=false></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Đơn Vị Khác</h3>
                    <nz-form-control [nzErrorTip]="id_thongtinnoikhac" nzHasFeedback>
                        <nz-select
                                formControlName="id_thongtinnoikhac"
                                nzShowSearch  nzPlaceHolder="Đơn Vị Khác"
                        >
                            <nz-option *ngFor="let data of this.tochucs" [nzLabel]="data.tentochuc ? data.tentochuc : 'Không Có Tên'" [nzValue]=data.id></nz-option>
                        </nz-select>
                        <ng-template #id_thongtinnoikhac let-control>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Có Nhận Tài Trợ ?</h3>
                    <nz-form-control>
                        <nz-select
                                formControlName="conhantaitro"
                                nzShowSearch
                                nzPlaceHolder="Có Nhận Tài Trợ ?"
                        >
                            <nz-option nzLabel="Có" [nzValue]=true></nz-option>
                            <nz-option nzLabel="Không" [nzValue]=false></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Đơn Vị Tài Trợ</h3>
                    <nz-form-control [nzErrorTip]="id_donvitaitro" nzHasFeedback>
                        <nz-select
                                formControlName="id_donvitaitro"
                                nzShowSearch  nzPlaceHolder="Đơn Vị Tài Trợ"
                        >
                            <nz-option *ngFor="let data of this.tochucs" [nzLabel]="data.tentochuc ? data.tentochuc : 'Không Có Tên'" [nzValue]=data.id></nz-option>
                        </nz-select>
                        <ng-template #id_donvitaitro let-control>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Chi Tiết Đơn Vị Tài Trợ</h3>
                    <nz-form-control [nzErrorTip]="chitietdonvitaitro" nzHasFeedback>
                    <textarea
                            nz-input
                            placeholder="Chi Tiết Đơn Vị Tài Trợ"
                            formControlName="chitietdonvitaitro"
                            [nzAutosize]="{ minRows: 3, maxRows: 10 }"
                    ></textarea>
                        <ng-template #chitietdonvitaitro let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Đường Dẫn File Minh Chứng</h3>
                    <nz-form-control [nzErrorTip]="url_minhchung" nzHasFeedback>
                        <input nz-input placeholder="Đường Dẫn File Minh Chứng"  type="text" formControlName="url_minhchung"/>

                        <ng-template #url_minhchung let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Loại Minh Chứng</h3>
                    <nz-form-control [nzErrorTip]="loaiminhchung" nzHasFeedback>
                    <textarea
                            nz-input
                            placeholder="Loại Minh Chứng"
                            formControlName="loaiminhchung"
                            [nzAutosize]="{ minRows: 3, maxRows: 10 }"
                    ></textarea>
                        <ng-template #loaiminhchung let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Tác Giả <span (click)="addGuestControls()" class="primary tw-cursor-pointer"> +Thêm Tác Giả Ngoài</span></h3>
                    <nz-form-control>
                        <nz-select
                                nzShowSearch
                                nzPlaceHolder="Tác Giả"
                                formControlName="users"
                                (nzOnSearch)="onSearchUser($event)"
                                (ngModelChange)="onSelectUser($event)"
                                [nzLoading]="isGetUsers"
                        >
                            <nz-option *ngFor="let data of this.users" nzLabel="{{data.username}} - {{data.name}}" [nzValue]=data></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <div class="tw-w-full lg:tw-w-[50%]" formArrayName="sanpham_tacgia">
                    <div *ngFor="let control of sanphamTacgiaControls;let i = index">
                        <div [formGroupName]="i" class="">
                            <div class="tw-flex tw-items-center tw-gap-[0.5rem]">
                                <h2>Tác giả {{i + 1}}</h2>
                                <button
                                        nz-button
                                        nzType="primary"
                                        nzDanger
                                        (click)="removeUser(i)"
                                        nzSize="small"
                                >
                                    <span nz-icon nzType="close" nzTheme="outline"></span>
                                </button>
                            </div>
                            <nz-form-item>
                                <nz-form-control [nzErrorTip]="tentacgia" nzHasFeedback>
                                    <h4 class=""><span class="error">*</span> Tên Tác Giả</h4>
                                    <input nz-input placeholder="Tên Tác Giả"  type="text" formControlName="tentacgia"/>
                                    <ng-template #tentacgia>
                                        <small *ngIf="control.get('tentacgia')?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                                        <small *ngIf="control.get('tentacgia')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <h4 class=""><span class="error">*</span> Vai Trò</h4>
                                <nz-form-control [nzErrorTip]="id_vaitro" nzHasFeedback>
                                    <nz-select
                                            formControlName="id_vaitro"
                                            nzShowSearch  nzPlaceHolder="Vai Trò"
                                    >
                                        <!--                                <nz-option *ngFor="let data of this.tochucs" [nzLabel]="data.tentochuc ? data.tentochuc : 'Không Có Tên'" [nzValue]=data.id></nz-option>-->
                                        <nz-option *ngFor="let data of vaiTros" nzLabel="{{data.tenvaitro}}" [nzValue]="data.id"></nz-option>
                                    </nz-select>
                                    <ng-template #id_vaitro>
                                        <small *ngIf="control.get('id_vaitro')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <h4 class="">Thứ Tự</h4>
                                <nz-form-control>
                                    <input nz-input placeholder="Thứ Tự"  type="number" formControlName="thutu"/>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <h4 class="">Tỷ Lệ Đóng Góp</h4>
                                <nz-form-control>
                                    <input nz-input placeholder="Tỷ Lệ Đóng Góp"  type="number" formControlName="tyledonggop"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div class="tw-mt-[1rem]">
                    <nz-divider></nz-divider>
                </div>
                <h2 class="text-primary tw-text-4xl">Thông Tin Bài Báo</h2>

                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Tạp Chí</h3>
                    <nz-form-control [nzErrorTip]="id_tapchi" nzHasFeedback>
                        <nz-select
                                formControlName="id_tapchi"
                                nzShowSearch
                                nzPlaceHolder="Tạp Chí"
                        >
                            <nz-option *ngFor="let data of this.tapChis" [nzLabel]="data.name ? data.name : 'Không Có Tên'" [nzValue]=data.id></nz-option>
                        </nz-select>
                        <ng-template #id_tapchi let-control>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Đường Dẫn</h3>
                    <nz-form-control [nzErrorTip]="url" nzHasFeedback>
                        <input nz-input placeholder="Đường Dẫn (URL)"  type="text" formControlName="url"/>
                        <ng-template #url let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">DOI</h3>
                    <nz-form-control [nzErrorTip]="doi" nzHasFeedback>
                        <input nz-input placeholder="DOI"  type="text" formControlName="doi"/>
                        <ng-template #doi let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Received</h3>
                    <nz-form-control [nzErrorTip]="received" nzHasFeedback>
                        <nz-date-picker nzFormat="yyyy/MM/dd" class="tw-w-full" nzPlaceHolder="Received" formControlName="received"></nz-date-picker>
                        <ng-template #received let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Accepted</h3>
                    <nz-form-control [nzErrorTip]="accepted" nzHasFeedback>
                        <nz-date-picker nzFormat="yyyy/MM/dd" class="tw-w-full" nzPlaceHolder="Accepted" formControlName="accepted"></nz-date-picker>
                        <ng-template #accepted let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Published</h3>
                    <nz-form-control [nzErrorTip]="published" nzHasFeedback>
                        <nz-date-picker nzFormat="yyyy/MM/dd" class="tw-w-full" nzPlaceHolder="Published" formControlName="published"></nz-date-picker>
                        <ng-template #published let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Keywords</h3>
                    <nz-form-control [nzErrorTip]="keywords" nzHasFeedback>
                        <input nz-input placeholder="Keywords"  type="text" formControlName="keywords"/>
                        <ng-template #keywords let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Volume</h3>
                    <nz-form-control [nzErrorTip]="volume" nzHasFeedback>
                        <input nz-input placeholder="Volume"  type="text" formControlName="volume"/>
                        <ng-template #volume let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Issue</h3>
                    <nz-form-control [nzErrorTip]="issue" nzHasFeedback>
                        <input nz-input placeholder="Issue"  type="text" formControlName="issue"/>
                        <ng-template #issue let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Number</h3>
                    <nz-form-control [nzErrorTip]="number" nzHasFeedback>
                        <input nz-input placeholder="Number"  type="text" formControlName="number"/>
                        <ng-template #number let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Pages</h3>
                    <nz-form-control [nzErrorTip]="pages" nzHasFeedback>
                        <input nz-input placeholder="Pages"  type="text" formControlName="pages"/>
                        <ng-template #pages let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full">
                    <h3 class="">Abstract</h3>
                    <nz-form-control [nzErrorTip]="abstract" nzHasFeedback>
                          <textarea
                                  nz-input
                                  placeholder="Abstract"
                                  formControlName="abstract"
                                  [nzAutosize]="{ minRows: 10, maxRows: 10 }"
                          ></textarea>
                        <ng-template #abstract let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <button
                        nz-button
                        nzType="primary"
                        (click)="onSubmit()"
                        nzSize="large"
                        [nzLoading]="isCreate"
                >
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    Tạo Bài Báo
                </button>
            </form>
        </div>
    </ng-template>
</div>