<nz-descriptions [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="horizontal" class="tw-mt-[1rem]">
    <nz-descriptions-item nzTitle="DOI">{{baibao.doi ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Đường Dẫn (URL)">
        <ng-container *ngIf="baibao.url"><nz-tag [nzColor]="'#76c5f0'"><a target="_blank" href="{{baibao.url}}">Tại Đây</a></nz-tag></ng-container>
        <ng-container *ngIf="!baibao.url">Không Có</ng-container>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Received">
        {{baibao.received  ?? 'Không Có'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Accepted">{{baibao.accepted  ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Published">{{baibao.published  ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Keywords">
        <ng-container *ngIf="baibao.keywords && baibao.keywords.length > 0; else noKeywords">
    <span *ngFor="let keyword of baibao.keywords; let last = last">
        {{ keyword.name }}
        <ng-container *ngIf="!last">, </ng-container>
            </span>
        </ng-container>
        <ng-template #noKeywords>
            Không Có
        </ng-template>

    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Volume">{{baibao.volume  ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Issue">{{baibao.issue  ?? 'Không Có'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Number">{{baibao.number  ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Pages">{{baibao.pages  ?? 'Không Có'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tạp Chí">
        <strong > + Mã: </strong>{{baibao.tapchi.id}}
        <br>
        <strong > + Tên: </strong>{{baibao.tapchi.name ??
        'Không Có'}} <br>
        <strong> + Trạng Thái: </strong>
        <span *ngIf="baibao.tapchi.trangthai" class="success">Đã Phê Duyệt</span>
        <span *ngIf="!baibao.tapchi.trangthai" class="error">Chưa Phê Duyệt</span> <br>
        <strong> + Được Công Nhận ?: </strong>
        <span *ngIf="baibao.tapchi.khongduoccongnhan === true" class="error">Không Được Công
                                Nhận</span>
        <span *ngIf="baibao.tapchi.khongduoccongnhan === false" class="success">Được Công
                                Nhận</span>
        <span *ngIf="baibao.tapchi.khongduoccongnhan === null" class="primary">Không Được Đánh
                                Giá</span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Abstract">{{baibao.abstract ?? 'Không Có'}}</nz-descriptions-item>
</nz-descriptions>