<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" routerLink="/tap-chi">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">TẠP CHÍ CHỜ PHÊ DUYỆT</h1>
    <div class="tw-flex tw-flex-col tw-gap-[6px] tw-w-[300px]">
        <form nz-form [formGroup]="formAction" class="tw-space-y-[6px]">
            <input nz-input nzSize='large' formControlName="search" placeholder="Tìm Kiếm"  (input)="onChangeSearch($event)" type="text" />
            <nz-select
                    (ngModelChange)="onChangeSortBy($event)"
                    nzSize='large'
                    nzPlaceHolder="Sắp Xếp"
                    formControlName="select"
                    class="tw-w-full"
            >
                <nz-option  nzValue="created_at" nzLabel="Mới Nhất"></nz-option>
                <nz-option nzValue="updated_at" nzLabel="Mới Cập Nhật"></nz-option>
            </nz-select>
        </form>
    </div>

    <!--    class="tw-overflow-x-auto tw-h-screen-->

    <div class="tw-space-y-[10px]">
        <nz-table
            #tapchi
            [nzData]="magazines"
            [nzLoading]="isTableLoading"
            [nzShowPagination]="false"
            [nzScroll]="{x:'auto' }"
        >
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên Tạp Chí</th>
                <th>Người Tạo</th>
                <th>Trạng Thái</th>
                <th>Ngày Cập Nhật</th>
                <ng-container *ngIf="columnDelete">
                    <th>Ngày Xóa</th>
                </ng-container>
                <th>Thao Tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of tapchi.data">
                <td>{{ data.id }}</td>
                <td nzEllipsis>{{ data.name }}</td>
                <td nzEllipsis>{{ data.nguoithem?.name }}</td>
                <td class="{{data.trangthai ? 'success' : 'error'}}">{{ data.trangthai ? 'Đã Phê Duyệt' : 'Chưa Phê Duyệt'}}</td>
                <td>{{ data.updated_at }}</td>
                <ng-container *ngIf="columnDelete">
                    <td>{{ data?.deleted_at }}</td>
                </ng-container>
                <ng-container *ngIf="data.deleted_at === null">
                    <td class="tw-flex tw-items-center tw-space-x-[4px]">
                        <button
                                [nzLoading]="data.isChangeStatus"
                                nz-popconfirm
                                nzPopconfirmTitle="Phê Duyệt Tạp Chí ?"
                                (nzOnConfirm)="onChangeStatusTapChi(data)"
                                nz-button
                                nzType="primary"
                        >
                            <span nz-icon nzType="check" nzTheme="outline"></span>
                            Phê Duyệt
                        </button>
                        <button nz-button nzType="default">
                            <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
                            Chi Tiết
                        </button>
                        <button
                                [nzLoading]="data.isSoftDelete"
                                nz-popconfirm
                                nzPopconfirmTitle="Xóa Tạp Chí ?"
                                (nzOnConfirm)="onSoftDeleteMagazine(data)"
                                nz-button
                                nzType="default"
                                nzDanger
                        >
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                            Xóa
                        </button>
                    </td>
                </ng-container>
                <ng-container *ngIf="data.deleted_at !== null">
                    <td class="tw-flex tw-items-center">
                        <button nz-button nzType="primary" nzDanger>
                            <span nz-icon nzType="rollback" nzTheme="outline"></span>
                            Hoàn Tác
                        </button>
                    </td>
                </ng-container>
            </tr>
            </tbody>
        </nz-table>
        <div class="tw-text-right">
            <nz-pagination
                    [nzPageIndex]="1"
                    [nzTotal]="totalPage*10"
                    (nzPageIndexChange)="onChangePage($event)"
            ></nz-pagination>
        </div>
    </div>
</div>