<app-header></app-header>
<div class="login-wrapper tw-mx-auto tw-w-[90%]">
    <div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-[12px]">
        <div class="border-primary tw-p-[12px] tw-w-full lg:tw-w-[400px]">
                <form nzLayout="vertical" nz-form class="tw-space-y-[16px]" [formGroup]="formLogin">
                    <nz-form-item>
                        <h3 class="tw-text-center">Mã cán bộ</h3>
                        <nz-form-control [nzErrorTip]="username" nzHasFeedback>
                            <input nz-input placeholder="Mã cán bộ" type="text" formControlName="username"/>
                            <ng-template #username let-control>
                                <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Mã cán bộ không được để trống</small>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <h3 class="tw-text-center">Mật khẩu</h3>
                        <nz-form-control [nzErrorTip]="password" nzHasFeedback>
                            <input nz-input placeholder="Mật khẩu" type="password" formControlName="password"/>
                            <ng-template #password let-control>
                                <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Mật khẩu không được để trống</small>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="tw-text-center">
                        <button nz-button nzSize="default" (click)="onLogin()" [nzLoading]="loginLoading" [disabled]="!formLogin.valid" nzType="primary">Đăng Nhập</button>
                    </div>
                    <div class="tw-text-center">
                        <a routerLink="/quen-mat-khau" class="tw-color-[primary]">Quên mật khẩu?</a>
                    </div>
                </form>
            <nz-divider></nz-divider>

        </div>
        <div class="tw-flex-1">
            <app-huong-dan-component [huongdan]="AppConstant.HUONG_DAN_DANG_NHAP"></app-huong-dan-component>
        </div>
    </div>
</div>