<div class="tw-space-y-[6px]">
    <h4>Ngày Cập Nhật : {{recognize.created_at}}</h4>
    <p>Mã: <span class="tw-font-semibold">{{recognize.id}}</span></p>
    <p>Trạng thái:
        <span *ngIf="recognize?.khongduoccongnhan === true" class="error tw-font-semibold">Không Được Công Nhận</span>
        <span *ngIf="recognize?.khongduoccongnhan === false" class="success tw-font-semibold">Được Công Nhận</span>
        <span *ngIf="recognize.khongduoccongnhan === undefined" class="primary tw-font-semibold">Không Được Đánh Giá</span>
    </p>
    <p><strong>Người cập nhật:</strong> <br>
        <span class="tw-ml-[30px]">+ Mã: </span> <span class="tw-font-semibold">{{recognize.nguoicapnhat?.username}}</span> <br>
        <span class="tw-ml-[30px]">+ Tên: </span> <span class="tw-font-semibold">{{recognize.nguoicapnhat?.name}}</span> <br>
        <span class="tw-ml-[30px]">+ Email: </span> <span class="tw-font-semibold">{{recognize.nguoicapnhat?.email}}</span></p>
    <p>Ghi chú: <span class="tw-font-semibold">{{recognize.ghichu ? recognize.ghichu : 'Không có ghi chú nào'}}</span></p>
</div>
