<div class="tw-space-y-[6px]">
    <h4>Ngày Cập Nhật : {{recognize.created_at}}</h4>
    <p><strong>Mã:</strong> {{recognize.id}}</p>
    <p><strong>Trạng thái: </strong>
        <span *ngIf="recognize?.khongduoccongnhan === true" class="success">Được Công Nhận</span>
        <span *ngIf="recognize?.khongduoccongnhan === false" class="error">Không Được Công Nhận</span>
        <span *ngIf="recognize.khongduoccongnhan === undefined" class="primary">Không Được Đánh Giá</span>
    </p>
    <p><strong>Người cập nhật:</strong> <br>
        <strong class="tw-ml-[30px]"> + Mã: </strong>{{recognize.nguoicapnhat?.username}} <br>
        <strong class="tw-ml-[30px]"> + Tên: </strong>{{recognize.nguoicapnhat?.name}} <br>
        <strong class="tw-ml-[30px]"> + Email: </strong>{{recognize.nguoicapnhat?.email}}</p>
    <p><strong>Ghi chú:</strong> {{recognize.ghichu ? recognize.ghichu : 'Không có ghi chú nào'}}</p>

    <div class="tw-my-[14px]">
        <nz-divider ></nz-divider>
    </div>
</div>
