<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="#" target="_blank">
                <img src="./assets/images/blob.png" alt="logo" class="img_logo">
                <h1>Quản Lý Khoa Học</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Đề Tài" nzIcon="form">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="/admin/de-tai">Quản Lý</a>
                    </li>
                    <li nz-menu-item >
                        <a routerLink="/admin/de-tai/tao-moi">Tạo Mới</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/de-tai/cho-phe-duyet">Chờ Duyêt</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Bài Báo Khoa Học" nzIcon="form">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="/admin/bai-bao">Quản Lý</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/bai-bao/tao-moi">Tạo Mới</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/bai-bao/cho-phe-duyet">Chờ Duyêt</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Tạp Chí" nzIcon="form">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="/admin/tap-chi">Quản Lý</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/tap-chi/tao-moi">Tạo Mới</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/tap-chi/cho-phe-duyet">Chờ Duyêt</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Tổ Chức" nzIcon="form">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="/admin/to-chuc">Quản Lý</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/to-chuc/tao-moi">Tạo Mới</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Người Dùng" nzIcon="form">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="/admin/nguoi-dung">Quản Lý</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/nguoi-dung/tao-moi">Tạo Mới</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Vai Trò" nzIcon="form">
                <ul>
                    <li nz-menu-item >
                        <a routerLink="/admin/vai-tro">Quản Lý</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/admin/vai-tro/tao-moi">Tạo Mới</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <div>
                    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger"
                          nz-icon
                          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                    ></span>
                </span>
                </div>
                <div class="userInfo">
                    <div class="tw-flex tw-space-x-[20px]">
                        <h4 class="username">{{userInfo?.username}}</h4>
                        <h5 class="name">{{userInfo?.name}}</h5>
                        <div>
                            <button nz-button nzSize="default" (click)="logout()" [nzLoading]="logoutLoading"  nzType="primary">Đăng Xuất</button>
                        </div>
                    </div>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
