<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" [routerLink]="['/tap-chi']">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">TẠO MỚI TẠP CHÍ</h1>
    <div class="tw-mt-[30px] tw-space-y-[6px]">
        <form nz-form class="tw-space-y-[16px]" [formGroup]="createForm">
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class=""><span class="error">*</span> Tên Tạp Chí</h3>
                <nz-form-control>
                    <input nz-input placeholder="Tên Tạp Chí"  type="text" formControlName="name"/>
                    <ng-container *ngIf="createForm.controls?.['name']?.touched && createForm.controls?.['name']?.dirty">
                        <small *ngIf="createForm.controls?.['name']?.errors?.['maxlength']" class="tw-ml-2 error">Độ dài tối đa là 255</small>
                        <small *ngIf="createForm.controls?.['name']?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        <small *ngIf="createForm.controls?.['name']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">ISSN</h3>
                <nz-form-control>
                    <input nz-input placeholder="ISSN"  type="text" formControlName="issn"/>
                    <ng-container *ngIf="createForm.controls?.['issn']?.touched && createForm.controls?.['issn']?.dirty">
                        <small *ngIf="createForm.controls?.['issn']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">EISSN</h3>
                <nz-form-control>
                    <input nz-input placeholder="EISSN"  type="text" formControlName="eissn"/>
                    <ng-container *ngIf="createForm.controls?.['eissn']?.touched && createForm.controls?.['eissn']?.dirty">
                        <small *ngIf="createForm.controls?.['eissn']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">PISSN</h3>
                <nz-form-control>
                    <input nz-input placeholder="PISSN"  type="text" formControlName="pissn"/>
                    <ng-container *ngIf="createForm.controls?.['pissn']?.touched && createForm.controls?.['pissn']?.dirty">
                        <small *ngIf="createForm.controls?.['pissn']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Website</h3>
                <nz-form-control>
                    <input nz-input placeholder="Đường dẫn tới website (https://)"  type="text" formControlName="website"/>
                    <ng-container *ngIf="createForm.controls?.['website']?.touched && createForm.controls?.['website']?.dirty">
                        <small *ngIf="createForm.controls?.['website']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Địa Chỉ</h3>
                <nz-form-control>
                    <input nz-input placeholder="Địa Chỉ"  type="text" formControlName="address"/>
                    <ng-container *ngIf="createForm.controls?.['address']?.touched && createForm.controls?.['address']?.dirty">
                        <small *ngIf="createForm.controls?.['address']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Quốc Tế</h3>
                <nz-form-control>
                    <nz-select
                            formControlName="quocte"
                            nzShowSearch nzAllowClear nzPlaceHolder="Quốc Tế"
                    >
                        <nz-option nzLabel="Quốc Tế" [nzValue]=true></nz-option>
                        <nz-option nzLabel="Trong Nước" [nzValue]=false></nz-option>
                    </nz-select>
                    <ng-container *ngIf="createForm.controls?.['quocte']?.touched && createForm.controls?.['quocte']?.dirty">
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Nhà Xuất Bản</h3>
                <nz-form-control>
                    <nz-select
                            formControlName="id_nhaxuatban"
                            nzShowSearch nzAllowClear nzPlaceHolder="Nhà Xuất Bản"
                            [nzLoading]="this.loadingService.isLoading$ | async"
                            [nzDisabled]="this.loadingService.isLoading$ | async"
                    >
                        <nz-option *ngFor="let data of this.nhaXuatBans" [nzLabel]="data.name ? data.name : 'Không Có Tên'" [nzValue]=data.id></nz-option>
                    </nz-select>
                    <ng-container *ngIf="createForm.controls?.['id_nhaxuatban']?.touched && createForm.controls?.['id_nhaxuatban']?.dirty">
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Tổ Chức</h3>
                <nz-form-control>
                    <nz-select
                            formControlName="id_donvichuquan"
                            nzShowSearch nzAllowClear nzPlaceHolder="Tổ Chức"
                            [nzLoading]="this.loadingService.isLoading$ | async"
                            [nzDisabled]="this.loadingService.isLoading$ | async"
                    >
                        <nz-option *ngFor="let data of this.toChucs" [nzLabel]="data.tentochuc ? data.tentochuc : 'Không có tên'" [nzValue]=data.id></nz-option>
                    </nz-select>
                    <ng-container *ngIf="createForm.controls?.['id_donvichuquan']?.touched && createForm.controls?.['id_donvichuquan']?.dirty">
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Quốc Gia</h3>
                <nz-form-control>
                    <nz-select
                            formControlName="id_address_country"
                            nzShowSearch nzAllowClear nzPlaceHolder="Quốc Gia"
                            (ngModelChange)="onSelectChange($event)"
                            [nzLoading]="this.loadingService.isLoading$ | async"
                            [nzDisabled]="this.loadingService.isLoading$ | async"
                    >
                        <nz-option *ngFor="let data of this.quocGias" [nzValue]=data.id [nzLabel]="data.tenquocgia ? data.tenquocgia : 'Không có tên'"></nz-option>
                    </nz-select>
                    <ng-container *ngIf="createForm.controls?.['id_address_country']?.touched && createForm.controls?.['id_address_country']?.dirty">
                    </ng-container>
                </nz-form-control>
            </div>
            <div class="tw-w-full lg:tw-w-[50%]">
                <h3 class="">Thành Phố</h3>
                <nz-form-control>
                    <nz-select
                            formControlName="id_address_city"
                            nzShowSearch nzAllowClear nzPlaceHolder="Thành Phố"
                            [nzLoading]="this.isTinhThanhLoading"
                            [nzDisabled]="this.isTinhThanhLoading"

                    >
                        <nz-option *ngFor="let data of this.tinhThanhs" [nzValue]="data" [nzLabel]="data.tentinhthanh ? data.tentinhthanh : 'Không có tên'"></nz-option>
                    </nz-select>
                    <ng-container *ngIf="createForm.controls?.['id_address_city']?.touched && createForm.controls?.['id_address_city']?.dirty">
                    </ng-container>
                </nz-form-control>
            </div>
            <button
                nz-button
                nzType="primary"
                [nzLoading]="iscreateLoading"
                (click)="onCreateTapChi()"
                nzSize="large"
            >
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Tạo Mới
            </button>
        </form>
    </div>
</div>