<nz-descriptions [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="horizontal" class="tw-mt-[1rem]">
    <nz-descriptions-item nzTitle="Mã">{{sanpham.id}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tên Sản Phẩm">{{sanpham.tensanpham}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Loại Sản Phẩm">
        {{sanpham.loaisanpham.tendmsanpham}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Trạng Thái Rà Soát">
        <span *ngIf="sanpham.trangthairasoat === AppConstant.TT_DANG_RA_SOAT"
            class="error">{{sanpham.trangthairasoat}}</span>
        <span *ngIf="sanpham.trangthairasoat === AppConstant.TT_DA_XAC_NHAN"
            class="success">{{sanpham.trangthairasoat}}</span>
    </nz-descriptions-item>
    <ng-container *ngIf="sanpham.trangthairasoat === AppConstant.TT_DA_XAC_NHAN">
        <nz-descriptions-item nzTitle="Người Rà Soát ">
            + Mã:
            <span class="tw-font-semibold">{{sanpham.nguoirasoat?.username ?? 'Không Có'}}</span> <br>
            + Tên:
            <span class="tw-font-semibold">{{sanpham.nguoirasoat?.name ?? 'Không Có'}}</span> <br>
            + Email:
            <span class="tw-font-semibold">{{sanpham.nguoirasoat?.email ?? 'Không Có'}}</span>
        </nz-descriptions-item>
    </ng-container>
    <nz-descriptions-item nzTitle="Tổng Số Tác Giả">{{sanpham.tongsotacgia}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Số Lần Đã Quy Đổi">{{sanpham.solandaquydoi ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Điểm Quy Đổi">{{sanpham.diemquydoi ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Giờ Quy Đổi">{{sanpham.gioquydoi ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Thông Tin Chi Tiết"> {{sanpham.thongtinchitiet ?? 'Không Có'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Cấp Sản Phẩm">{{sanpham.capsanpham ?? 'Không Có'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Có Thông Tin Trường ?">{{sanpham.cothongtintruong
        === true ? 'Có' : 'Không'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Có Sử Dụng Email Trường ?">
        {{sanpham.cosudungemailtruong === true ? 'Có' : 'Không'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Có Sử Dụng Email Đơn Vị Khác ?:">
        {{sanpham.cosudungemaildonvikhac === true ? 'Có' : 'Không'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Có Thông Tin Đơn Vị Khác ?">
        {{sanpham.cothongtindonvikhac === true ? 'Có' : 'Không'}}</nz-descriptions-item>
    <ng-container *ngIf="sanpham.cothongtindonvikhac === true">
        <nz-descriptions-item nzTitle="Thông Tin Đơn Vị Khác">
            + Mã:
            <span class="tw-font-semibold">{{sanpham.thongtinnoikhac?.matochuc ?? 'Không Có'}}</span> <br>
            + Tên:
            <span class="tw-font-semibold">{{sanpham.thongtinnoikhac?.tentochuc ?? 'Không Có'}}</span> <br>
            + Điện Thoại:
            <span class="tw-font-semibold">{{sanpham.thongtinnoikhac?.dienthoai ?? 'Không Có'}}</span><br>
            + Website:
            <span class="tw-font-semibold">{{sanpham.thongtinnoikhac?.website ?? 'Không Có'}}</span>
        </nz-descriptions-item>
    </ng-container>
    <nz-descriptions-item nzTitle="Có Nhận Tài Trợ ?">
        {{sanpham.conhantaitro ===
        true
        ? 'Có' : 'Không'}}</nz-descriptions-item>
    <ng-container *ngIf="sanpham.conhantaitro === true">
        <nz-descriptions-item nzTitle="Đơn Vị Tài Trợ">
            + Mã:
            <span class="tw-font-semibold">{{sanpham.donvitaitro?.matochuc ?? 'Không Có'}}</span> <br>
            + Tên:
            <span class="tw-font-semibold">{{sanpham.donvitaitro?.tentochuc ?? 'Không Có'}}</span> <br>
            + Điện Thoại:
            <span class="tw-font-semibold">{{sanpham.donvitaitro?.dienthoai ?? 'Không Có'}}</span><br>
            + Website:
            <span class="tw-font-semibold">{{sanpham.donvitaitro?.website ?? 'Không Có'}}</span>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Chi Tiết Đơn Vị Tài Trợ">
            {{sanpham.chitietdonvitaitro ?? 'Không Có'}}</nz-descriptions-item>
    </ng-container>
    <nz-descriptions-item nzTitle="Ngày Kê Khai">{{sanpham.ngaykekhai}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Người Kê Khai">
        + Mã:
        <span class="tw-font-semibold">{{sanpham.nguoikekhai.username}}</span> <br>
        + Tên:
        <span class="tw-font-semibold">{{sanpham.nguoikekhai.name}}</span> <br>
        + Email:
        <span class="tw-font-semibold">{{sanpham.nguoikekhai.email}}</span>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="File Minh Chứng">
        <ng-container *ngIf="sanpham.minhchung?.url"><nz-tag [nzColor]="'#76c5f0'"><a target="_blank"
                    href="{{sanpham.minhchung?.url}}">Tại Đây</a></nz-tag></ng-container>
        <ng-container *ngIf="!sanpham.minhchung?.url">Không Có</ng-container>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Danh Sách Tác Giả">
    <div *ngFor="let item of this.tacGiaMerged; let i = index" class="tw-mb-[1rem]">
        <h3>Tác Giả {{i + 1}}</h3>
        + Tên Tác Giả:
        <span class="tw-font-semibold">{{item.tacgia.name}}</span> <br>
        + Vai Trò:
        <ng-container *ngIf="item.vaitrotacgia && item.vaitrotacgia.length > 0">
    <span class="tw-font-semibold" *ngFor="let i of item.vaitrotacgia; let last = last">
        {{ i.tenvaitro }}
        <ng-container *ngIf="!last">, </ng-container>
            </span>
        </ng-container><br>
        + Tỷ Lệ Đóng Góp:
        <span class="tw-font-semibold">{{item.tyledonggop ?? 'Không Có'}}</span><br>
        + Thứ Tự: <span class="tw-font-semibold">{{item.thutu ??
    'Không Có'}}</span>
        <br>
    </div>
    </nz-descriptions-item>
</nz-descriptions>