<div>
    <nz-modal
            [nzVisible]="isOpenFormMinhChung"
            nzTitle="Cập Nhật File Minh Chứng"
            nzOkText="Gửi"
            (nzOnOk)="onCapNhatFileMinhChung()"
            (nzOnCancel)="onOpenFormCapNhatMinhChung()"
            [nzOkLoading]="isCapNhatFileMinhChung"
    >
        <ng-container *nzModalContent>
            <form nzLayout="vertical" nz-form class="tw-space-y-[16px]" [formGroup]="formCapNhatFileMinhChung">
                <nz-form-item class="tw-w-full">
                    <h3 class=""><span class="error">*</span> Đường Dẫn File Minh Chứng</h3>
                    <nz-form-control [nzErrorTip]="url_minhchung" nzHasFeedback>
                        <input nz-input placeholder="Đường Dẫn File Minh Chứng"  type="text" formControlName="url"/>

                        <ng-template #url_minhchung let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>

<div>
    <nz-modal
            [nzVisible]="isOpenListToChucKeKhai"
            nzTitle="Tổ Chức Đã Kê Khai"
            nzOkText="OK"
            (nzOnOk)="onOpenListToChucKeKhai()"
            (nzOnCancel)="onOpenListToChucKeKhai()"
    >
        <ng-container *nzModalContent>
            <ul nz-list [nzDataSource]="this.keKhaiToChuc" nzBordered nzSize="large">
                <li *ngFor="let item of this.keKhaiToChuc" nz-list-item nzNoFlex>
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                            <a (click)="onXoaToChucKeKhai(item.matochuc)">Xóa</a>
                        </nz-list-item-action>
                    </ul>
                    {{item.tentochuc}}
                </li>
            </ul>
        </ng-container>
    </nz-modal>
</div>

<div>
    <nz-modal
            [nzVisible]="isOpenFormTacGia"
            nzTitle="Cập Nhật Tác Giả"
            nzOkText="Gửi"
            (nzOnOk)="onCapNhatTacGia()"
            (nzOnCancel)="onOpenFormTacGia(false)"
            [nzOkLoading]="isCapNhatTacGia"
    >
        <ng-container *nzModalContent>
            <button nz-button
                    nzType="default"
                    *ngIf="this.keKhaiToChuc.length > 0"
                    (click)="onOpenListToChucKeKhai()"
                    class="tw-mb-[1rem]"
            >
                <span nz-icon nzType="edit" nzTheme="outline"></span>
                Tổ Chức Đã Kê Khai
            </button>
            <form nzLayout="vertical" nz-form class="tw-space-y-[5px]" [formGroup]="formCapNhatTacGia">
                <div >
                    <h3 class=""><span class="error">*</span> Tác Giả <span (click)="addGuestControls()" class="primary tw-cursor-pointer"> +Thêm Tác Giả Ngoài Hệ Thống</span></h3>
                    <nz-form-control>
                        <nz-select
                                nzShowSearch
                                nzServerSearch
                                nzPlaceHolder="Tác Giả"
                                formControlName="users"
                                (nzOnSearch)="onSearchUser($event)"
                                (ngModelChange)="onSelectUser($event)"
                                [nzLoading]="isGetUsers"
                        >
                            <ng-container *ngFor="let data of this.users">
                                <nz-option  *ngIf="!isGetUsers"  nzLabel="{{data.username}} - {{data.name}}" [nzValue]=data></nz-option>
                            </ng-container>
                            <nz-option *ngIf="isGetUsers" nzDisabled nzCustomContent>
                                <span nz-icon nzType="loading" class="loading-icon"></span>
                                Đang Tải Dữ Liệu...
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
                <div class="" formArrayName="sanpham_tacgia">
                    <div *ngFor="let control of sanphamTacgiaControls;let i = index">
                        <div [formGroupName]="i" class="">
                            <div class="tw-flex tw-items-center tw-gap-[0.5rem]">
                                <h2>Tác giả {{i + 1}} <span *ngIf="control.get('in_system')?.value === false" class="error tw-text-[14px]"> (Tác giả ngoài hệ thống)</span></h2>
                                <button
                                        nz-button
                                        nzType="primary"
                                        nzDanger
                                        (click)="removeUser(i)"
                                        nzSize="small"
                                >
                                    <span nz-icon nzType="close" nzTheme="outline"></span>
                                </button>
                            </div>
                            <nz-form-item>
                                <nz-form-control [nzErrorTip]="tentacgia" nzHasFeedback>
                                    <h4 class=""><span class="error">*</span> Tên Tác Giả</h4>
                                    <input nz-input placeholder="Tên Tác Giả"  type="text" formControlName="tentacgia"/>
                                    <ng-template #tentacgia>
                                        <small *ngIf="control.get('tentacgia')?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                                        <small *ngIf="control.get('tentacgia')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <h4 class=""><span class="error">*</span> Vai Trò</h4>
                                <nz-form-control [nzErrorTip]="list_id_vaitro" nzHasFeedback>
                                    <nz-select
                                            formControlName="list_id_vaitro"
                                            nzShowSearch
                                            nzPlaceHolder="Vai Trò"
                                            nzMode="multiple"
                                    >
                                        <nz-option *ngFor="let data of vaiTros" nzLabel="{{data.tenvaitro}}" [nzValue]="data.id"></nz-option>
                                    </nz-select>
                                    <ng-template #list_id_vaitro>
                                        <small *ngIf="control.get('list_id_vaitro')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <ng-container *ngIf="control.get('in_system')?.value === false">
                                <nz-form-item>
                                    <h4 class=""><span class="error">*</span> Email</h4>
                                    <nz-form-control [nzErrorTip]="email" nzHasFeedback>
                                        <input nz-input placeholder="Email"  type="text" formControlName="email"/>
                                    </nz-form-control>
                                    <ng-template #email>
                                        <small *ngIf="control.get('email')?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                                        <small *ngIf="control.get('email')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                        <small *ngIf="control.get('email')?.errors?.['email']" class="tw-ml-2 error">Định dạng Email không hợp lệ</small>
                                    </ng-template>
                                </nz-form-item>
                                <nz-form-item>
                                    <h4 class=""><span class="error">*</span> Điện Thoại</h4>
                                    <nz-form-control [nzErrorTip]="dienthoai" nzHasFeedback>
                                        <input nz-input placeholder="Email"  type="text" formControlName="dienthoai"/>
                                    </nz-form-control>
                                    <ng-template #dienthoai>
                                        <small *ngIf="control.get('dienthoai')?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                                        <small *ngIf="control.get('dienthoai')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-item>
                                <nz-form-item>
                                    <h4 class=""><span class="error">*</span> Ngày Sinh</h4>
                                    <nz-form-control [nzErrorTip]="ngaysinh" nzHasFeedback>
                                        <nz-date-picker nzFormat="yyyy/MM/dd" class="tw-w-full" nzPlaceHolder="Ngày Sinh"   formControlName="ngaysinh"/>
                                    </nz-form-control>
                                    <ng-template #ngaysinh>
                                        <small *ngIf="control.get('ngaysinh')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-item>
                                <nz-form-item>
                                    <h4 class=""><span class="error">*</span> Tổ Chức <span (click)="onOpenFormToChuc()" class="primary tw-cursor-pointer"> +Kê Khai Tổ Chức Ngoài Hệ Thống</span></h4>
                                    <nz-form-control [nzErrorTip]="tochuc" nzHasFeedback>
                                        <nz-select
                                                formControlName="tochuc"
                                                nzServerSearch
                                                nzShowSearch
                                                nzPlaceHolder="Tổ Chức"
                                                nzAllowClear
                                                (nzOnSearch)="onSearchToChuc($event)"
                                                [nzLoading]="isGetToChuc"
                                        >
                                            <ng-container *ngFor="let data of tochucs">
                                                <nz-option *ngIf="!isGetToChuc"  nzLabel="{{data.tentochuc ?? 'Không Có'}}" [nzValue]="data"></nz-option>
                                            </ng-container>
                                            <nz-option *ngIf="isGetToChuc" nzDisabled nzCustomContent>
                                                <span nz-icon nzType="loading" class="loading-icon"></span>
                                                Đang Tải Dữ Liệu...
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                    <ng-template #tochuc>
                                        <small *ngIf="control.get('tochuc')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-item>
                                <nz-form-item>
                                    <h4 class=""><span class="error">*</span> Học Hàm Học Vị</h4>
                                    <nz-form-control [nzErrorTip]="id_hochamhocvi" nzHasFeedback>
                                        <nz-select
                                                formControlName="id_hochamhocvi"
                                                nzShowSearch
                                                nzPlaceHolder="Học Hàm Học Vị"
                                                nzAllowClear
                                        >
                                            <nz-option *ngFor="let data of hhhvs" nzLabel="{{data.tenhochamhocvi ?? 'Không Có'}}" [nzValue]="data.id"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                    <ng-template #id_hochamhocvi>
                                        <small *ngIf="control.get('id_hochamhocvi')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                    </ng-template>
                                </nz-form-item>
                            </ng-container>
                            <nz-form-item>
                                <h4 class="">Thứ Tự</h4>
                                <nz-form-control>
                                    <input nz-input placeholder="Thứ Tự"  type="number" formControlName="thutu"/>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <h4 class="">Tỷ Lệ Đóng Góp</h4>
                                <nz-form-control>
                                    <input nz-input placeholder="Tỷ Lệ Đóng Góp"  type="number" formControlName="tyledonggop"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <nz-divider></nz-divider>
                    </div>
                </div>
            </form>
        </ng-container>
    </nz-modal>
</div>

<div>
    <nz-modal
            [nzVisible]="isOpenFormToChuc"
            nzTitle="Kê Khai Tổ Chức"
            nzOkText="Lưu"
            (nzOnOk)="onKeKhaiToChuc()"
            (nzOnCancel)="onOpenFormToChuc()"
    >
        <ng-container *nzModalContent>
            <form nzLayout="vertical" nz-form class="tw-space-y-[16px]" [formGroup]="tochucForm">
                <nz-form-item class="tw-w-full">
                    <h3 class=""><span class="error">*</span> Tên Tổ Chức</h3>
                    <nz-form-control [nzErrorTip]="tentochuc" nzHasFeedback>
                        <input nz-input placeholder="Tên Tổ Chức"  type="text" formControlName="tentochuc"/>

                        <ng-template #tentochuc let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full">
                    <h3 class=""><span class="error">*</span> Mã Tổ Chức</h3>
                    <nz-form-control [nzErrorTip]="matochuc" nzHasFeedback>
                        <input nz-input placeholder="Mã Tổ Chức"  type="text" formControlName="matochuc"/>

                        <ng-template #matochuc let-control>
                            <small *ngIf="control?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>

<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" [routerLink]="['/admin/bai-bao']">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">CHI TIẾT BÀI BÁO</h1>
    <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
        <app-loading></app-loading>
    </ng-template>
    <ng-template #loaded>
        <div class="tw-mt-[15] tw-flex tw-flex-col tw-gap-[6px]">
            <div class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-items-center tw-gap-[6px]">
                <button nz-button nzType="primary" *ngIf="baibao.deleted_at" [nzLoading]="isRestore" nz-popconfirm
                        nzPopconfirmTitle="Hoàn Tác" (nzOnConfirm)="onHoanTacXoaBaiBao(baibao)">
                    <span nz-icon nzType="rollback" nzTheme="outline"></span>
                    Hoàn Tác
                </button>
                <button nz-button nzType="primary" nzDanger *ngIf="baibao.deleted_at" [nzLoading]="isForceDelete"
                        nz-popconfirm nzPopconfirmTitle="Xóa Bài Báo ?" (nzOnConfirm)="onXoaBaiBao(baibao)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                    Xóa
                </button>
                <button nz-button nzType="primary" nzDanger *ngIf="!baibao.deleted_at" [nzLoading]="isSoftDelete"
                        nz-popconfirm nzPopconfirmTitle="Xóa Mềm ?" (nzOnConfirm)="onXoaMemBaiBao(baibao)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                    Xóa Mềm
                </button>
                <button nz-button nzType="primary" nzDanger
                        *ngIf="baibao.sanpham.trangthairasoat === AppConstant.TT_DA_XAC_NHAN"
                        [nzLoading]="isChangeStatus" nz-popconfirm nzPopconfirmTitle="Hủy Phê Duyệt ?"
                        (nzOnConfirm)="onCapNhatTrangThai(baibao,AppConstant.TT_DANG_RA_SOAT)">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                    Hủy Phê Duyệt
                </button>
                <button nz-button nzType="primary" *ngIf="baibao.sanpham.trangthairasoat === AppConstant.TT_DANG_RA_SOAT"
                        [nzLoading]="isChangeStatus" nz-popconfirm nzPopconfirmTitle="Phê Duyệt Bài Báo ?"
                        (nzOnConfirm)="onCapNhatTrangThai(baibao,AppConstant.TT_DA_XAC_NHAN)">
                    <span nz-icon nzType="check" nzTheme="outline"></span>
                    Phê Duyệt
                </button>
            </div>
            <div class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-items-center tw-gap-[6px]">
                <button
                        nz-button
                        nzType="primary"
                        (click)="onOpenFormCapNhatMinhChung()"
                >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                    Cập Nhật File Minh Chứng
                </button>
                <button nz-button nzType="primary"
                        (click)="onOpenFormTacGia(true)"
                >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                    Cập Nhật Tác Giả
                </button>
            </div>
        </div>
        <div class="tw-space-y-[1rem]">
            <div class="tw-mt-[5rem] tw-space-y-[0.4rem]">
                <h2 class="text-primary tw-text-3xl tw-text-center">Thông Tin Sản Phẩm</h2>
                <div class="tw-space-x-[0.5rem] tw-text-right">
                    <button nz-button nzType="primary" [routerLink]="['thong-tin-san-pham']">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                        Cập Nhật
                    </button>
                </div>
                <app-sanpham-component [sanpham]="baibao.sanpham" [sanpham_tacgias]="baibao.sanpham_tacgias"></app-sanpham-component>
                <div class="tw-my-[14px]">
                    <nz-divider></nz-divider>
                </div>
                <div class="tw-mt-[5rem] tw-space-y-[0.4rem]">
                    <h2 class="tw-mt-[5rem] text-primary tw-text-3xl tw-text-center">Thông Tin Bài Báo</h2>
                    <div class="tw-space-x-[0.5rem] tw-text-right">
                        <button nz-button nzType="primary" [routerLink]="['thong-tin-bai-bao']">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                            Cập Nhật
                        </button>
                    </div>
                    <app-baibao-component [baibao]="baibao"></app-baibao-component>
                </div>
            </div>
        </div>
    </ng-template>
</div>