<div>
    <nz-modal
            [nzVisible]="isOpenFormMinhChung"
            nzTitle="Cập Nhật File Minh Chứng"
            nzOkText="Gửi"
            (nzOnOk)="onCapNhatFileMinhChung()"
            (nzOnCancel)="onOpenFormCapNhatMinhChung()"
            [nzOkLoading]="isCapNhatFileMinhChung"
    >
        <ng-container *nzModalContent>
            <form nz-form class="tw-space-y-[16px]" [formGroup]="formCapNhatFileMinhChung">
                <div>
                    <h3 class="tw-text-center">Đường Dẫn (URL)</h3>
                    <nz-form-control>
                        <input nz-input placeholder="Đường Dẫn (URL)"  type="text" formControlName="url"/>
                        <ng-container *ngIf="formCapNhatFileMinhChung.controls?.['url']?.touched && formCapNhatFileMinhChung.controls?.['url']?.dirty">
                            <small *ngIf="formCapNhatFileMinhChung.controls?.['url']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="formCapNhatFileMinhChung.controls?.['url']?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-container>
                    </nz-form-control>
                </div>
                <div>
                    <h3 class="tw-text-center">Loại Minh Chứng</h3>
                    <nz-form-control>
                        <input nz-input placeholder="Loại Minh Chứng"  type="text" formControlName="loaiminhchung"/>
                        <ng-container *ngIf="formCapNhatFileMinhChung.controls?.['loaiminhchung']?.touched && formCapNhatFileMinhChung.controls?.['loaiminhchung']?.dirty">
                            <small *ngIf="formCapNhatFileMinhChung.controls?.['loaiminhchung']?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-container>
                    </nz-form-control>
                </div>
            </form>
        </ng-container>
    </nz-modal>
</div>

<div>
    <nz-modal
            [nzVisible]="isOpenFormTacGia"
            nzTitle="Cập Nhật Tác Giả"
            nzOkText="Gửi"
            (nzOnOk)="onCapNhatTacGia()"
            (nzOnCancel)="onOpenFormTacGia(false)"
            [nzOkLoading]="isCapNhatTacGia"
    >
        <ng-container *nzModalContent>
            <form nz-form class="tw-space-y-[5px]" [formGroup]="formCapNhatTacGia">
                <div >
                    <h3 class=""><span class="error">*</span> Tác Giả <span (click)="addGuestControls()" class="primary tw-cursor-pointer"> +Thêm Tác Giả Ngoài</span></h3>
                    <nz-form-control>
                        <nz-select
                                nzShowSearch
                                nzPlaceHolder="Tác Giả"
                                formControlName="users"
                                (nzOnSearch)="onSearchUser($event)"
                                (ngModelChange)="onSelectUser($event)"
                                [nzLoading]="isGetUsers"
                        >
                            <nz-option *ngFor="let data of this.users" nzLabel="{{data.username}} - {{data.name}}" [nzValue]=data></nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
                <div class="" formArrayName="sanpham_tacgia">
                    <div *ngFor="let control of sanphamTacgiaControls;let i = index">
                        <div [formGroupName]="i" class="tw-space-y-[0.5rem] tw-mb-[1.5rem]">
                            <div class="tw-flex tw-items-center tw-gap-[0.5rem]">
                                <h2>Tác giả {{i + 1}}</h2>
                                <button
                                        nz-button
                                        nzType="primary"
                                        nzDanger
                                        (click)="removeUser(i)"
                                        nzSize="small"
                                >
                                    <span nz-icon nzType="close" nzTheme="outline"></span>
                                </button>
                            </div>
                            <nz-form-control>
                                <h4 class=""><span class="error">*</span> Tên Tác Giả</h4>
                                <input nz-input placeholder="Tên Tác Giả"  type="text" formControlName="tentacgia"/>
                                <ng-container *ngIf="control.get('tentacgia')?.touched && control.get('tentacgia')?.dirty">
                                    <small *ngIf="control.get('tentacgia')?.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                                    <small *ngIf="control.get('tentacgia')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                </ng-container>
                            </nz-form-control>
                            <nz-form-control>
                                <h4 class=""><span class="error">*</span> Vai Trò</h4>
                                <nz-select
                                        formControlName="id_vaitro"
                                        nzShowSearch  nzPlaceHolder="Vai Trò"
                                        [nzLoading]="isGetVaiTro"
                                        [nzDisabled]="isGetVaiTro"
                                >
                                    <!--                                <nz-option *ngFor="let data of this.tochucs" [nzLabel]="data.tentochuc ? data.tentochuc : 'Không Có Tên'" [nzValue]=data.id></nz-option>-->
                                    <nz-option *ngFor="let data of vaiTros" nzLabel="{{data.tenvaitro}}" [nzValue]="data.id"></nz-option>
                                </nz-select>
                                <ng-container *ngIf="control.get('id_vaitro')?.touched && control.get('id_vaitro')?.dirty">
                                    <small *ngIf="control.get('id_vaitro')?.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                                </ng-container>
                            </nz-form-control>
                            <nz-form-control>
                                <h4 class="">Thứ Tự</h4>
                                <input nz-input placeholder="Thứ Tự"  type="number" formControlName="thutu"/>
                                <ng-container *ngIf="control.get('thutu')?.touched && control.get('thutu')?.dirty">
                                </ng-container>
                            </nz-form-control>
                            <nz-form-control>
                                <h4 class="">Tỷ Lệ Đóng Góp</h4>
                                <input nz-input placeholder="Tỷ Lệ Đóng Góp"  type="number" formControlName="tyledonggop"/>
                                <ng-container *ngIf="control.get('tyledonggop')?.touched && control.get('tyledonggop')?.dirty">
                                </ng-container>
                            </nz-form-control>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </nz-modal>
</div>

<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" [routerLink]="['/bai-bao']">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">CHI TIẾT BÀI BÁO</h1>
    <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
        <app-loading></app-loading>
    </ng-template>
    <ng-template #loaded>
        <div class="tw-mt-[15] tw-flex tw-flex-col tw-gap-[6px]">
            <div class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-items-center tw-gap-[6px]">
                <button nz-button nzType="primary" *ngIf="baibao.deleted_at" [nzLoading]="isRestore" nz-popconfirm
                    nzPopconfirmTitle="Hoàn Tác" (nzOnConfirm)="onHoanTacXoaBaiBao(baibao)">
                    <span nz-icon nzType="rollback" nzTheme="outline"></span>
                    Hoàn Tác
                </button>
                <button nz-button nzType="primary" nzDanger *ngIf="baibao.deleted_at" [nzLoading]="isForceDelete"
                    nz-popconfirm nzPopconfirmTitle="Xóa Bài Báo ?" (nzOnConfirm)="onXoaBaiBao(baibao)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                    Xóa
                </button>
                <button nz-button nzType="primary" nzDanger *ngIf="!baibao.deleted_at" [nzLoading]="isSoftDelete"
                    nz-popconfirm nzPopconfirmTitle="Xóa Mềm ?" (nzOnConfirm)="onXoaMemBaiBao(baibao)">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                    Xóa Mềm
                </button>
                <button nz-button nzType="primary" nzDanger
                    *ngIf="baibao.sanpham.trangthairasoat === 'Đã xác nhận' && baibao.deleted_at === null"
                    [nzLoading]="isChangeStatus" nz-popconfirm nzPopconfirmTitle="Hủy Phê Duyệt ?"
                    (nzOnConfirm)="onCapNhatTrangThai(baibao,'Đang rà soát')">
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                    Hủy Phê Duyệt
                </button>
                <button nz-button nzType="primary" *ngIf="baibao.sanpham.trangthairasoat === 'Đang rà soát'"
                    [nzLoading]="isChangeStatus" nz-popconfirm nzPopconfirmTitle="Phê Duyệt Bài Báo ?"
                    (nzOnConfirm)="onCapNhatTrangThai(baibao,'Đã xác nhận')">
                    <span nz-icon nzType="check" nzTheme="outline"></span>
                    Phê Duyệt
                </button>
            </div>
        </div>
        <div class="tw-space-y-[1rem]">
            <div class="tw-mt-[5rem] tw-space-y-[0.4rem]">
                <h2 class="text-primary tw-text-3xl tw-text-center">Thông Tin Sản Phẩm</h2>
                <div class="tw-space-x-[0.5rem]">
                    <button nz-button nzType="primary" [routerLink]="['thong-tin-san-pham']">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                        Cập Nhật
                    </button>
                    <button
                            nz-button
                            nzType="primary"
                            (click)="onOpenFormCapNhatMinhChung()"
                    >
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                        Cập Nhật File Minh Chứng
                    </button>

                </div>
                <div class="tw-space-y-[0.8rem]">
                    <p><strong class="tw-mr-[0.5rem]">Mã: </strong> {{baibao.sanpham.id}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Tên Sản Phẩm: </strong> {{baibao.sanpham.tensanpham}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Loại Sản Phẩm: </strong>
                        {{baibao.sanpham.loaisanpham.tendmsanpham}}
                    </p>
                    <p><strong class="tw-mr-[0.5rem]">Trạng Thái Rà Soát: </strong>
                        <span *ngIf="baibao.sanpham.trangthairasoat === 'Đang rà soát'"
                            class="error">{{baibao.sanpham.trangthairasoat}}</span>
                        <span *ngIf="baibao.sanpham.trangthairasoat === 'Đã xác nhận'"
                            class="success">{{baibao.sanpham.trangthairasoat}}</span>
                    </p>
                    <ng-container *ngIf="baibao.sanpham.trangthairasoat === 'Đã xác nhận'">
                        <p><strong class="tw-mr-[0.5rem]">Người Rà Soát:</strong> <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Mã:
                            </strong>{{baibao.sanpham.nguoirasoat?.username ?? 'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tên:
                            </strong>{{baibao.sanpham.nguoirasoat?.name ?? 'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Email:
                            </strong>{{baibao.sanpham.nguoirasoat?.email ?? 'Không Có'}}
                        </p>
                    </ng-container>
                    <p><strong class="tw-mr-[0.5rem]">Tổng Số Tác Giả: </strong> {{baibao.sanpham.tongsotacgia}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Số Lần Đã Quy Đổi: </strong> {{baibao.sanpham.solandaquydoi}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Điểm Quy Đổi: </strong> {{baibao.sanpham.diemquydoi}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Giờ Quy Đổi: </strong> {{baibao.sanpham.gioquydoi}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Thông Tin Chi Tiết: </strong> {{baibao.sanpham.thongtinchitiet}}
                    </p>
                    <p><strong class="tw-mr-[0.5rem]">Cấp Sản Phẩm: </strong> {{baibao.sanpham.capsanpham}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Có Thông Tin Trường ?: </strong> {{baibao.sanpham.cothongtintruong
                        === true ? 'Có' : 'Không'}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Có Sử Dụng Email Trường ?: </strong>
                        {{baibao.sanpham.cosudungemailtruong === true ? 'Có' : 'Không'}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Có Sử Dụng Email Đơn Vị Khác ?: </strong>
                        {{baibao.sanpham.cosudungemaildonvikhac === true ? 'Có' : 'Không'}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Có Thông Tin Đơn Vị Khác ?: </strong>
                        {{baibao.sanpham.cothongtindonvikhac === true ? 'Có' : 'Không'}}</p>
                    <ng-container *ngIf="baibao.sanpham.cothongtindonvikhac === true">
                        <p><strong class="tw-mr-[0.5rem]">Thông Tin Đơn Vị Khác:</strong> <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Mã:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.matochuc ?? 'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tên:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.tentochuc ?? 'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Điện Thoại:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.dienthoai ?? 'Không Có'}}<br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Website:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.website ?? 'Không Có'}}
                        </p>
                    </ng-container>
                    <p><strong class="tw-mr-[0.5rem]">Có Nhận Tài Trợ ?: </strong> {{baibao.sanpham.conhantaitro ===
                        true
                        ? 'Có' : 'Không'}}</p>
                    <ng-container *ngIf="baibao.sanpham.conhantaitro === true">
                        <p><strong class="tw-mr-[0.5rem]">Đơn Vị Tài Trợ:</strong> <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Mã:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.matochuc ?? 'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tên:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.tentochuc ?? 'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Điện Thoại:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.dienthoai ?? 'Không Có'}}<br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Website:
                            </strong>{{baibao.sanpham.thongtinnoikhac?.website ?? 'Không Có'}}
                        </p>
                        <p><strong class="tw-mr-[0.5rem]">Chi Tiết Đơn Vị Tài Trợ: </strong>
                            {{baibao.sanpham.chitietdonvitaitro ?? 'Không Có'}}</p>
                    </ng-container>
                    <p><strong class="tw-mr-[0.5rem]">Ngày Kê Khai: </strong> {{baibao.sanpham.ngaykekhai}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Người Kê Khai:</strong> <br>
                        <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Mã:
                        </strong>{{baibao.sanpham.nguoikekhai?.username ?? 'Không Có'}} <br>
                        <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tên:
                        </strong>{{baibao.sanpham.nguoikekhai?.name ?? 'Không Có'}} <br>
                        <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Email:
                        </strong>{{baibao.sanpham.nguoikekhai?.email ?? 'Không Có'}}
                    </p>
                    <p><strong class="tw-mr-[0.5rem]">File Minh Chứng: </strong>
                        <ng-container *ngIf="baibao.sanpham.minhchung?.url"><nz-tag [nzColor]="'#76c5f0'"><a target="_blank" href="{{baibao.sanpham.minhchung?.url}}">Tại Đây</a></nz-tag></ng-container>
                        <ng-container *ngIf="!baibao.sanpham.minhchung?.url">Không Có</ng-container>
                    </p>
                    <p><strong class="tw-mr-[0.5rem]">Loại Minh Chứng: </strong> {{baibao.sanpham.minhchung?.loaiminhchung ?? 'Không Có'}}</p>
                    <p><strong class="tw-mr-[0.5rem]">Danh Sách Tác Giả:</strong>
                        <span>
                            <button nz-button nzType="primary"
                                (click)="onOpenFormTacGia(true)"
                            >
                                <span nz-icon nzType="edit" nzTheme="outline"></span>
                            </button></span> <br>
                    <div *ngFor="let tacgia of this.baibao.sanpham_tacgias">
                        <p><strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tên Tác Giả:
                            </strong>{{tacgia.tacgia.name}}</p>
                        <p><strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Vai Trò:
                            </strong>{{tacgia.vaitrotacgia.tenvaitro}} </p>
                        <p><strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tỷ Lệ Đóng Góp:
                            </strong>{{tacgia.tyledonggop ?? 'Không Có'}} </p>
                        <p><strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Thứ Tự: </strong>{{tacgia.thutu ??
                            'Không Có'}} </p>
                        <br>
                    </div>
                </div>
                <div class="tw-my-[14px]">
                    <nz-divider></nz-divider>
                </div>
                <div class="tw-mt-[5rem] tw-space-y-[0.4rem]">
                    <h2 class="tw-mt-[5rem] text-primary tw-text-3xl tw-text-center">Thông Tin Bài Báo</h2>
                    <button nz-button nzType="primary" [routerLink]="['thong-tin-bai-bao']">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                        Cập Nhật
                    </button>
                    <div class="tw-space-y-[0.8rem]">
                        <p><strong class="tw-mr-[0.5rem]">DOI: </strong> {{baibao.doi ?? 'Không Có'}}</p>
                        <p><strong class="tw-mr-[0.5rem]">Đường Dẫn (URL): </strong>
                            <ng-container *ngIf="baibao.url"><nz-tag [nzColor]="'#76c5f0'"><a target="_blank" href="{{baibao.url}}">Tại Đây</a></nz-tag></ng-container>
                            <ng-container *ngIf="!baibao.url">Không Có</ng-container>
                        </p>
                        <p><strong class="tw-mr-[0.5rem]">Received: </strong>
                            {{baibao.received  ?? 'Không Có'}}
                        </p>
                        <p><strong class="tw-mr-[0.5rem]">Accepted: </strong> {{baibao.accepted  ?? 'Không Có'}}</p>
                        <p><strong class="tw-mr-[0.5rem]">Published: </strong> {{baibao.published  ?? 'Không Có'}}</p>
                        <p><strong class="tw-mr-[0.5rem]">Keywords: </strong> {{baibao.keywords  ?? 'Không Có'}}</p>
                        <p><strong class="tw-mr-[0.5rem]">Volume: </strong> {{baibao.volume  ?? 'Không Có'}}</p>
                        <p><strong class="tw-mr-[0.5rem]">Issue: </strong> {{baibao.issue  ?? 'Không Có'}}
                        </p>
                        <p><strong class="tw-mr-[0.5rem]">Number: </strong> {{baibao.number  ?? 'Không Có'}}</p>
                        <p><strong class="tw-mr-[0.5rem]">Pages: </strong> {{baibao.pages  ?? 'Không Có'}}
                        </p>
                        <p><strong class="tw-mr-[0.5rem]">Tạp Chí:</strong> <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Mã: </strong>{{baibao.tapchi.id}}
                            <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Tên: </strong>{{baibao.tapchi.name ??
                            'Không Có'}} <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Trạng Thái: </strong>
                            <span *ngIf="baibao.tapchi.trangthai" class="success">Đã Phê Duyệt</span>
                            <span *ngIf="!baibao.tapchi.trangthai" class="error">Chưa Phê Duyệt</span> <br>
                            <strong class="tw-mr-[0.5rem]" class="tw-ml-[30px]"> + Được Công Nhận ?: </strong>
                            <span *ngIf="baibao.tapchi.khongduoccongnhan === true" class="error">Không Được Công
                                Nhận</span>
                            <span *ngIf="baibao.tapchi.khongduoccongnhan === false" class="success">Được Công
                                Nhận</span>
                            <span *ngIf="baibao.tapchi.khongduoccongnhan === null" class="primary">Không Được Đánh
                                Giá</span>
                        </p>
                        <p><strong class="tw-mr-[0.5rem]">Abstract: </strong> {{baibao.abstract ?? 'Không Có'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>