<div class="tw-mt-[1rem] tw-space-y-[2rem]">
    <ng-container *ngIf="tuyenchon !== null || xetduyet !== null || nghiemthu != null">
        <ng-container *ngIf="tuyenchon !== null">
            <nz-descriptions nzTitle="Trạng Thái Tuyển Chọn" class="tw-space-y-[0.8rem]" [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="horizontal">
                    <nz-descriptions-item nzTitle="Kết Quả Tuyển Chọn">
                        <span *ngIf="tuyenchon?.ketquatuyenchon === AppConstant.TT_DETAI_SUCCESS" class="success">{{tuyenchon?.ketquatuyenchon}}</span>
                        <span *ngIf="tuyenchon?.ketquatuyenchon === AppConstant.TT_DETAI_FAILED" class="error">{{tuyenchon?.ketquatuyenchon}}</span>
                    </nz-descriptions-item>

                    <nz-descriptions-item nzTitle="Lý Do">{{tuyenchon?.lydo ?? 'Không Có'}} </nz-descriptions-item>
            </nz-descriptions>
        </ng-container>
        <ng-container *ngIf="xetduyet !== null">
            <nz-descriptions nzTitle="Trạng Thái Xét Duyệt" class="tw-space-y-[0.8rem]" [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="horizontal">
                    <nz-descriptions-item nzTitle="Ngày Xét Duyệt">{{xetduyet?.ngayxetduyet ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Kết Quả Tuyển Chọn">
                        <span *ngIf="xetduyet?.ketquaxetduyet === AppConstant.TT_DETAI_SUCCESS" class="success">{{xetduyet?.ketquaxetduyet}}</span>
                        <span *ngIf="xetduyet?.ketquaxetduyet === AppConstant.TT_DETAI_FAILED" class="error">{{xetduyet?.ketquaxetduyet}}</span>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Số Hợp Đồng">{{xetduyet?.sohopdong ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Ngày Ký Hợp Đồng">{{xetduyet?.ngaykyhopdong ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Thời Hạn Ký Hợp Đồng"> {{xetduyet?.thoihanhopdong ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Kinh Phí">{{xetduyet?.kinhphi ?? 'Không Có'}} </nz-descriptions-item>
            </nz-descriptions>
        </ng-container>
        <ng-container *ngIf="nghiemthu !== null">
            <nz-descriptions nzTitle="Trạng Thái Nghiệm Thu" class="tw-space-y-[0.8rem]" [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }" nzBordered nzLayout="horizontal">
                    <nz-descriptions-item nzTitle="Ngày Nghiệm Thu">{{nghiemthu?.ngaynghiemthu ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Kết Quả Nghiệm Thu">{{nghiemthu?.ketquanghiemthu ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Ngày Công Nhận Hoàn Thành">{{nghiemthu?.ngaycongnhanhoanthanh ?? 'Không Có'}} </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Số Quyết Định Công Nhận Hoàn Thành">{{nghiemthu?.soqdcongnhanhoanthanh ?? 'Không Có'}} </nz-descriptions-item>
            </nz-descriptions>
        </ng-container>
    </ng-container>
</div>

<ng-container *ngIf="!tuyenchon && !xetduyet && !nghiemthu">
    <div class="tw-text-center tw-mt-[2rem]">
        <h3 class="text-primary">Đang Chờ</h3>
    </div>
</ng-container>