<div class="tw-space-y-[16px]">
    <button nz-button nzType="primary" [routerLink]="['/admin/to-chuc']">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
    </button>
    <h1 class="text-primary tw-text-5xl">TẠO MỚI TỔ CHỨC</h1>
    <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
        <app-loading></app-loading>
    </ng-template>
    <ng-template #loaded>
        <div class="tw-mt-[30px] tw-space-y-[6px]">
            <form nzLayout="vertical" nz-form class="tw-space-y-[16px]" [formGroup]="createForm">
                <h2 class="text-primary tw-text-4xl">Thông Tin Tổ Chức</h2>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class=""><span class="error">*</span> Tên Tổ Chức</h3>
                    <nz-form-control [nzErrorTip]="name" nzHasFeedback>
                        <input nz-input placeholder="Tên Tổ Chức"  type="text" formControlName="tentochuc"/>
                        <ng-template #name let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Mã Tổ Chức</h3>
                    <nz-form-control [nzErrorTip]="matochuc" nzHasFeedback>
                        <input nz-input placeholder="Mã Tổ Chức"  type="text" formControlName="matochuc"/>
                        <ng-template #matochuc let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                            <small *ngIf="control.errors?.['required']" class="tw-ml-2 error">Không được để trống</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Tên Tổ Chức (EN)</h3>
                    <nz-form-control [nzErrorTip]="tentochuc_en" nzHasFeedback>
                        <input nz-input placeholder="Tên Tổ Chức (EN)"  type="text" formControlName="tentochuc_en"/>
                        <ng-template #tentochuc_en let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Website</h3>
                    <nz-form-control [nzErrorTip]="website" nzHasFeedback>
                        <input nz-input placeholder="Website"  type="text" formControlName="website"/>
                        <ng-template #website let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Điện Thoại</h3>
                    <nz-form-control [nzErrorTip]="dienthoai" nzHasFeedback>
                        <input nz-input placeholder="Điện Thoại"  type="text" formControlName="dienthoai"/>
                        <ng-template #dienthoai let-control>
                            <small *ngIf="control.errors?.['whitespace']" class="tw-ml-2 error">Không được sử dụng dấu khoảng trắng</small>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Phân Loại Tổ Chức</h3>
                    <nz-form-control  nzHasFeedback>
                        <nz-select
                                nzAllowClear
                                nzShowSearch
                                nzPlaceHolder="Phân Loại Tổ Chức"
                                formControlName="id_phanloaitochuc"
                        >
                            <nz-option *ngFor="let item of plToChuc" [nzLabel]="item.tenloai" [nzValue]="item.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Quốc Gia</h3>
                    <nz-form-control nzHasFeedback>
                        <nz-select
                                formControlName="id_address_country"
                                nzShowSearch nzAllowClear nzPlaceHolder="Quốc Gia"
                                (ngModelChange)="onSelectChange($event)"
                        >
                            <nz-option *ngFor="let data of this.quocGias" [nzValue]=data.id [nzLabel]="data.tenquocgia ? data.tenquocgia : 'Không có tên'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="tw-w-full lg:tw-w-[50%]">
                    <h3 class="">Thành Phố</h3>
                    <nz-form-control nzHasFeedback>
                        <nz-select
                                formControlName="id_address_city"
                                nzShowSearch nzAllowClear nzPlaceHolder="Thành Phố"
                                [nzLoading]="this.isTinhThanhLoading"
                                [nzDisabled]="this.isTinhThanhLoading"

                        >
                            <nz-option *ngFor="let data of this.tinhThanhs" [nzValue]="data.id" [nzLabel]="data.tentinhthanh ? data.tentinhthanh : 'Không có tên'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <button
                        nz-button
                        nzType="primary"
                        (click)="onSubmit()"
                        nzSize="large"
                        [nzLoading]="isCreate"
                >
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                    Tạo Tổ Chức
                </button>
            </form>
        </div>
    </ng-template>
</div>