<div class="tw-space-y-[6px]">
    <h4>Ngày Cập Nhật : {{score.created_at}}</h4>
    <p>Mã: <span class="tw-font-semibold">{{score.id}}</span></p>
<!--    <p><strong>Trạng thái: </strong>-->
<!--        <span *ngIf="score?.khongduoccongnhan === true" class="success">Được Công Nhận</span>-->
<!--        <span *ngIf="score?.khongduoccongnhan === false" class="success">Không Được Công Nhận</span>-->
<!--        <span *ngIf="!score.khongduoccongnhan" class="primary">Không Được Đánh Giá</span>-->
<!--    </p>-->
    <p><strong>Người cập nhật:</strong> <br>
        <span class="tw-ml-[30px]"> + Mã: </span> <span class="tw-font-semibold">{{score.nguoicapnhat?.username}}</span> <br>
        <span class="tw-ml-[30px]"> + Tên:</span> <span class="tw-font-semibold">{{score.nguoicapnhat?.name}}</span> <br>
        <span class="tw-ml-[30px]"> + Email: </span> <span class="tw-font-semibold">{{score.nguoicapnhat?.email}}</span></p>
    <p><strong>Ngành Tính Điểm:</strong> <br>
        <span class="tw-ml-[30px]"> + Mã Ngành: </span> <span class="tw-font-semibold">{{score.nganhtinhdiem.manganhtinhdiem}}</span> <br>
        <span class="tw-ml-[30px]"> + Tên Ngành Tính Điểm: </span> <span class="tw-font-semibold">{{score.nganhtinhdiem.tennganhtinhdiem}}</span> <br>
        <span class="tw-ml-[30px]"> + Tên Ngành Tính Điểm [EN]: </span> <span class="tw-font-semibold">{{score.nganhtinhdiem.tennganh_en}} </span></p>
    <p><strong>Chuyên Ngành Tính Điểm:</strong> <br>
        <span class="tw-ml-[30px]"> + Mã: </span> <span class="tw-font-semibold">{{score.chuyennganhtinhdiem.machuyennganh}}</span> <br>
        <span class="tw-ml-[30px]"> + Tên Chuyên Ngành Tính Điểm: </span> <span class="tw-font-semibold">{{score.chuyennganhtinhdiem.tenchuyennganh}}</span> <br>
        <span class="tw-ml-[30px]"> + Tên Chuyên Ngành Tính Điểm [EN]: </span> <span class="tw-font-semibold">{{score.chuyennganhtinhdiem.tenchuyennganh_en}}</span></p>
    <p>Điểm: <span class="tw-font-semibold">{{score.diem}}</span></p>
    <p>Năm Tính Điểm: <span class="tw-font-semibold">{{score.namtinhdiem}}</span></p>
    <p>Ghi chú: <span class="tw-font-semibold">{{score.ghichu ? score.ghichu : 'Không có ghi chú nào'}}</span></p>

</div>
