<div class="tw-flex tw-flex-col lg:tw-flex-row tw-gap-[12px]">
    <div class="tw-max-h-[16.5rem] border-primary tw-p-[12px] tw-w-full lg:tw-w-[400px] lg:tw-min-w-[400px]">
        <div class="tw-text-center tw-space-y-[0.5rem]">
            <h2>Mã Cán Bộ</h2>
            <h4 class="username">{{userInfo?.username}}</h4>
        </div>
        <div class="tw-text-center tw-space-y-[0.5rem]">
            <h2>Tên Cán Bộ</h2>
            <h4 class="username">{{userInfo?.name}}</h4>
        </div>
    </div>
    <div class="tw-flex-1 border-primary tw-p-[2.5rem] wrapper">
        <router-outlet></router-outlet>
    </div>
</div>